extends layout

block content
    table
        tr
            th ID
            th Avatar Name
            th Child's age
            th Skin Color
            th Head Shape
            th Upper Clothing
            th Lower Clothing
            th Created At
        tr
            td= avatar.id
            td= avatar.characterName
            td= avatar.childAge
            td= avatar.skinColor
            td= avatar.headShape
            td= avatar.upperClothing
            td= avatar.lowerClothing
            td= avatar.createdAt
